In [2]:
import pandas as pd
import numpy as np
import pandas_ta as pta
import ta
# from datapackage import Package
# from selenium import webdriver
# import requests
# from bs4 import BeautifulSoup
# import yfinance as yf
import os
import random
import shutil
import time
from tensorflow.keras.layers import LSTM
import tensorflow as tf
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from numpy import array
from tensorflow.keras.utils import plot_model
import graphviz
import pydot
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import Dropout
# PARAMETERS

steps = 10
epochs = 10
nodes_per_layer = 64
shift = -1
batch_size = 20
loss_function = "mean_squared_error"
dropout_rate = 0.2
top_25 = ["AAPL", "MSFT", "AMZN", "TSLA", "GOOGL", "BRK.B", "UNH", "JNJ", "XOM", "JPM", "META", "V", "PG", "NVDA", "HD", "CVX", "LLY", "MA", "ABBV", "PFE", "MRK", "PEP", "BAC", "KO"]

# for ticker_code in ["MSFT"]:
# 	print(ticker_code)
# 	X_train_scaled = pd.read_pickle("sets/X_train/" + ticker_code + "_X_train_scaled.pkl")
# 	y_train_scaled = pd.read_pickle("sets/y_train/" + ticker_code + "_y_train_scaled.pkl")
# 	if ticker_code in ["NVDA"]:
# 		X_train_scaled = X_train_scaled[:-1]
# 	X_train_list = []
# 	for i in range(steps, len(X_train_scaled)):
# 		X_train_list.append(X_train_scaled[i-steps:i])
# 	X_train_list = np.array(X_train_list)
# 	model = Sequential()
# 	model.add(LSTM(nodes_per_layer, activation='relu', input_shape=(steps, X_train_list.shape[2]), return_sequences=True))
# 	model.add(Dropout(dropout_rate))
# 	model.add(LSTM(nodes_per_layer, return_sequences=True))
# 	model.add(Dropout(dropout_rate))
# 	model.add(LSTM(nodes_per_layer, return_sequences=True))
# 	model.add(Dropout(dropout_rate))
# 	model.add(LSTM(nodes_per_layer, return_sequences=True))
# 	model.add(Dropout(dropout_rate))
# 	model.add(LSTM(nodes_per_layer, return_sequences=True))
# 	model.add(Dropout(dropout_rate))
# 	model.add(LSTM(nodes_per_layer, return_sequences=True))
# 	model.add(Dropout(dropout_rate))
# 	model.add(LSTM(nodes_per_layer, return_sequences=False))
# 	model.add(Dense(units=1, activation='relu'))
# 	model.compile(optimizer='adam', loss=loss_function)
# 	model.fit(X_train_list, y_train_scaled[:(steps * shift)], epochs=epochs, batch_size=batch_size)
# 	X_test_scaled = pd.read_pickle("sets/X_test/" + ticker_code + "_X_test_scaled.pkl")
# 	y_test_scaled = pd.read_pickle("sets/y_test/" + ticker_code + "_y_test_scaled.pkl")
# 	X_test_list = []
# 	for i in range(steps, len(X_test_scaled)):
# 		X_test_list.append(X_test_scaled[i-steps:i])
# 	X_test_list = np.array(X_test_list)
# 	score = model.evaluate(X_test_list, y_test_scaled[:(steps * -1)])
# 	print(f"{ticker_code} processing finished")
# 	pd.to_pickle(model, "models/" + ticker_code + "_score_" + str(round(score, 2)) + "test.pkl")

In [42]:
X_test_scaled = pd.read_pickle("sets/X_test/" + ticker_code + "_X_test_scaled.pkl")
y_test_scaled = pd.read_pickle("sets/y_test/" + ticker_code + "_y_test.pkl")
X_test_list = []
for i in range(steps, len(X_test_scaled)):
	X_test_list.append(X_test_scaled[i-steps:i])
X_test_list = np.array(X_test_list)
score = model.evaluate(X_test_list, y_test_scaled.iloc[steps:])

58/58 [==============================] - 1s 9ms/step - loss: 28638.8633

In [6]:
y_test_scaled

7403     40.121540
7404     40.112701
7405     40.953159
7406     41.475151
7407     41.315907
           ...
9248    242.050003
9249    245.029999
9250    247.580002
9251    247.490005
9252    242.179993
Name: Close, Length: 1850, dtype: float64

In [1]:
file = "PFE.csv"
ticker_code = file.replace(".csv", "")
dataset = pd.read_csv("data/" + file)
shift = -1
dataset = dataset.drop(columns=["Date", "Dividends", "Stock Splits"])
X_train = dataset.drop(columns=["Close"])[:shift]
y_train = dataset["Close"].shift(shift).dropna()
x_scaler = MinMaxScaler()
X_train_scaled = x_scaler.fit_transform(X_train)
y_train_scaled = (np.array(y_train).reshape(-1,1))

NameError: name 'pd' is not defined

In [58]:
len(X_train_scaled), len(y_train)

(9253, 9253)

In [59]:
steps = 250
epochs = 10
nodes_per_layer = 64
shift = -1
batch_size = 36
loss_function = "mean_squared_error"
dropout_rate = 0.2

X_train_list = []
for i in range(steps, len(X_train)):
	X_train_list.append(X_train[i-steps:i])
X_train_list = np.array(X_train_list)
model = Sequential()
model.add(LSTM(nodes_per_layer, activation='relu', input_shape=(steps, X_train_list.shape[2]), return_sequences=True))
model.add(Dropout(dropout_rate))
model.add(LSTM(nodes_per_layer, return_sequences=True))
model.add(Dropout(dropout_rate))
model.add(LSTM(nodes_per_layer, return_sequences=True))
model.add(Dropout(dropout_rate))
model.add(LSTM(nodes_per_layer, return_sequences=True))
model.add(Dropout(dropout_rate))
model.add(LSTM(nodes_per_layer, return_sequences=True))
model.add(Dropout(dropout_rate))
model.add(LSTM(nodes_per_layer, return_sequences=True))
model.add(Dropout(dropout_rate))
model.add(LSTM(nodes_per_layer, return_sequences=False))
model.add(Dense(units=1, activation='relu'))
model.compile(optimizer='adam', loss=loss_function)
model.fit(X_train_list, y_train_scaled[:(steps * -1)], epochs=epochs, batch_size=batch_size)
# X_test_scaled = pd.read_pickle("sets/X_test/" + ticker_code + "_X_test_scaled.pkl")
# y_test_scaled = pd.read_pickle("sets/y_test/" + ticker_code + "_y_test_scaled.pkl")
# X_test_list = []
# for i in range(steps, len(X_test_scaled)):
# 	X_test_list.append(X_test_scaled[i-steps:i])
# X_test_list = np.array(X_test_list)
# score = model.evaluate(X_test_list, y_test_scaled[:(steps * -1)])

Epoch 1/10
251/251 [==============================] - 138s 514ms/step - loss: 3294.1509
Epoch 2/10
251/251 [==============================] - 128s 511ms/step - loss: 2986.9536
Epoch 3/10
251/251 [==============================] - 126s 501ms/step - loss: 2934.0713
Epoch 4/10
251/251 [==============================] - 130s 518ms/step - loss: 2928.1035
Epoch 5/10
251/251 [==============================] - 137s 543ms/step - loss: 2927.1716
Epoch 6/10
251/251 [==============================] - 126s 504ms/step - loss: 2927.3579
Epoch 7/10
251/251 [==============================] - 122s 485ms/step - loss: 2927.0730
Epoch 8/10
251/251 [==============================] - 126s 501ms/step - loss: 2927.3752
Epoch 9/10
251/251 [==============================] - 123s 489ms/step - loss: 2927.1858
Epoch 10/10
251/251 [==============================] - 118s 469ms/step - loss: 2927.5850

In [64]:
ticker_code = "PFE"
X_test_scaled = pd.read_pickle("sets/X_test/" + ticker_code + "_X_test_scaled.pkl")
y_test_scaled = pd.read_pickle("sets/y_test/" + ticker_code + "_y_test.pkl")
X_test_list = []
for i in range(steps, len(X_test_scaled)):
	X_test_list.append(X_test_scaled[i-steps:i])
X_test_list = np.array(X_test_list)
score = model.evaluate(X_test_list, y_test_scaled[:(steps * -1)])

C:\Users\BogPoet\AppData\Local\Temp\ipykernel_18092\3351189164.py:7: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  score = model.evaluate(X_test_list, y_test_scaled[:(steps * -1)])

50/50 [==============================] - 12s 192ms/step - loss: 14131.1064

In [87]:
X_test_list = []
for i in range(steps, len(X_test_scaled)):
	X_test_list.append(X_test_scaled[i-steps:i])
X_test_list = np.array(X_test_list)
model.predict(X_test_list[len(X_test_list) - 1].reshape(1, 250, 4))

1/1 [==============================] - 2s 2s/step

array([[33.559208]], dtype=float32)

In [89]:
X_train

            Open        High         Low      Volume
0       0.055380    0.063524    0.055380  1031788800
1       0.060809    0.064067    0.060809   308160000
2       0.062980    0.064609    0.062980   133171200
3       0.064067    0.064609    0.061894    67766400
4       0.062437    0.062980    0.060809    47894400
...          ...         ...         ...         ...
9248  243.509995  243.740005  239.029999    27591800
9249  241.429993  244.669998  241.190002    26394700
9250  243.589996  245.309998  240.710007    19665700
9251  245.110001  248.279999  244.270004    19508500
9252  247.309998  248.699997  246.729996     9200800

[9253 rows x 4 columns]

In [38]:
from datetime import timedelta, time, date
import yfinance as yf

ticker_code = "MSFT"
ticker = yf.Ticker(ticker_code.replace(".", "-"))
twenty_days_ago = np.busday_offset(dates=date.today(), offsets=(steps * -1), roll='backward')
raw_input = ticker.history(start=str(twenty_days_ago))
# if len(input) != 20:
# 	print("ERROR")
# len(input)
original_input = raw_input.reset_index().drop(columns=["Date", "Dividends", "Stock Splits", "Close"])

# sc = pd.read_pickle("scalers/" + ticker_code + "_x_scaler.pkl")
input = x_scaler.transform(original_input)
input = input.reshape(-1, input.shape[0], input.shape[1])

In [40]:
model.predict(input)

1/1 [==============================] - 2s 2s/step

array([[39.133324]], dtype=float32)

In [48]:
msft_csv = pd.read_csv("data/MSFT.csv")
msft_X_pkl = pd.read_pickle("sets/X_train/MSFT_X_train.pkl")
msft_y_pkl = pd.read_pickle("sets/y_train/MSFT_y_train.pkl")

In [49]:
display(msft_csv.head())
display(msft_X_pkl.head())
display(msft_y_pkl.head())

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1986-03-13 00:00:00-05:00,0.055380,0.063524,0.055380,0.060809,1031788800,0.0,0.0
1,1986-03-14 00:00:00-05:00,0.060809,0.064067,0.060809,0.062980,308160000,0.0,0.0
2,1986-03-17 00:00:00-05:00,0.062980,0.064609,0.062980,0.064067,133171200,0.0,0.0
3,1986-03-18 00:00:00-05:00,0.064067,0.064609,0.061894,0.062437,67766400,0.0,0.0
4,1986-03-19 00:00:00-05:00,0.062437,0.062980,0.060809,0.061351,47894400,0.0,0.0

       Open      High       Low      Volume
0  0.055380  0.063524  0.055380  1031788800
1  0.060809  0.064067  0.060809   308160000
2  0.062980  0.064609  0.062980   133171200
3  0.064067  0.064609  0.061894    67766400
4  0.062437  0.062980  0.060809    47894400

0    0.062980
1    0.064067
2    0.062437
3    0.061351
4    0.059723
Name: Close, dtype: float64

In [50]:
msft_csv.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
9249,2022-11-21 00:00:00-05:00,241.429993,244.669998,241.190002,242.050003,26394700,0.0,0.0
9250,2022-11-22 00:00:00-05:00,243.589996,245.309998,240.710007,245.029999,19665700,0.0,0.0
9251,2022-11-23 00:00:00-05:00,245.110001,248.279999,244.270004,247.580002,19508500,0.0,0.0
9252,2022-11-25 00:00:00-05:00,247.309998,248.699997,246.729996,247.490005,9200800,0.0,0.0
9253,2022-11-28 00:00:00-05:00,246.080002,246.610001,241.979996,242.179993,11004493,0.0,0.0

In [51]:
bac_csv = pd.read_csv("data/BAC.csv")
bac_X_pkl = pd.read_pickle("sets/X_train/BAC_X_train.pkl")
bac_y_pkl = pd.read_pickle("sets/y_train/BAC_y_train.pkl")

In [52]:
display(bac_csv.head())
display(bac_X_pkl.head())
display(bac_y_pkl.head())

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1973-02-21 00:00:00-05:00,1.640599,1.640599,1.640599,1.640599,99200,0.0,0.0
1,1973-02-22 00:00:00-05:00,1.646143,1.646143,1.646143,1.646143,47200,0.0,0.0
2,1973-02-23 00:00:00-05:00,1.640599,1.640599,1.640599,1.640599,133600,0.0,0.0
3,1973-02-26 00:00:00-05:00,1.640599,1.640599,1.640599,1.640599,24000,0.0,0.0
4,1973-02-27 00:00:00-05:00,1.640599,1.640599,1.640599,1.640599,41600,0.0,0.0

       Open      High       Low  Volume
0  1.640599  1.640599  1.640599   99200
1  1.646143  1.646143  1.646143   47200
2  1.640599  1.640599  1.640599  133600
3  1.640599  1.640599  1.640599   24000
4  1.640599  1.640599  1.640599   41600

0    1.646143
1    1.640599
2    1.640599
3    1.640599
4    1.640599
Name: Close, dtype: float64

In [55]:
bac_csv.tail()
len(bac_csv)
len(msft_csv)

9254